.w-md-editor-toolbar,
.wmde-markdown-color,
.w-md-editor-content {
  background-color: hsl(var(--background));
}

.w-md-editor-toolbar ul,
li {
  display: flex;
  align-items: center;
}

.w-md-editor-toolbar ul li button {
  display: flex;
  align-items: center;
  padding: 6px;
}

.w-md-editor-toolbar ul + ul {
  display: none;
}

.w-md-editor-toolbar li.active > button {
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--muted) / 0.8);
}

.w-md-editor-toolbar li > button:hover {
  color: hsl(var(--primary-foreground));
  background-color: hsl(var(--muted) / 0.8);
  transition-duration: 0.2s;
}
